.hidden{
  display: none;
}
.button1{
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgb(235, 232, 232);
    padding: 15px 32px;
    padding-left: 50px;
    padding-right: 50px;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.button1:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  color: white;
}
.numero{
margin-top: 1px;
}
.carro{padding-right: 5px;}

.caja{
  height: 470px;
  width: 312px;
  border: 3px solid rebeccapurple;
  padding: .5em;
  margin-top: 10px;
  border-radius: 1%;
  box-shadow: 1px 1px 1px black;
  float:left;
  margin-left: 20px;
  
}
.caja:hover{
  box-shadow: 5px 1px 5px black;
  transition: all 0.3s ease;
}
.pictur{
 height: 250px;
 width: 150px;
 margin-left: 60px; 
}
.name{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
font-size: 17px;
}

.col{
    width: 350px;
    padding-left: 30px;
    padding-bottom: 20px;
    float: left;
}

.categories {
  background-color: rgb(51, 51, 51);
  height: 75px;
  padding-left: 500px;
}
.categories2{
  background-color: rgb(51, 51, 51);
     margin-top: -40px;
     margin-bottom: 15px;
     margin-left: 510px;
}

.botoncat {
  font-family:'Courier New', Courier, monospace ;
  background-color: rgb(51, 51, 51);
    border: none;
    color: white;
    text-decoration:dotted;
    font-size: 16px;
    cursor: pointer;
    margin-right: 1px;
    float:center;
    margin-top: 10px;
}

.botoncat:hover {
  background-color: rgb(95, 95, 95);
  color: white;
  transition: all 0.3s ease;
  border-radius: 10%;
}

.Lupa{
  margin-top: -12px;
}

.home{
  background-color:white;
}

.barra{
   margin-top: 15px;
   text-shadow: #4CAF50;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 15px;
}

.titulo{
  font-size: 20px;
  float: left;
  margin-top: -10px;
  margin-right: 10px;
  margin-bottom: -10px;
}

::placeholder{
  font-size: 15px;
}
.Sesion{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color:rgb(15, 15, 15)
}
.Sesion:hover{
  color:rgb(214, 214, 214)
}
.numero{
  color:black;
}